.header {
    
    font-family: Palatino, URW Palladio L, serif;
    color: #e0e0e0;
    padding-left: 5px;
    text-align: center;
}
/* add img width and height */
 header img{
 width: 250px
 }
 body {
    margin: 0;
    width: 100vw;
    height: 100vh;
 } 

 


h2 {
    text-align: left;
}

.topnav {
    overflow: hidden;
    ;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:flex;
    justify-content: flex-end;

}

.topnav a:hover {
    color: #2da490f0;
}

.topnav a.active {
    color: lavender;


}

body {
    background-color: #343636;
}


a {
    text-decoration: none;
    color: lavender;
}

h2  {
    font-family: Palatino, URW Palladio L, serif;
    color: #343636;
    background-color:#2da490f0;
    width:fit-content;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    font-size: 30px;

}
.form ul li{
    list-style-type: none;
    text-align: center;
    font-size: 35px;
    
}
.text-center button:hover {
    background-color:#2da490f0;

}

.hyper a:hover {
    background-color: #2da490f0;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;


}

.hyper ul {
    list-style-type: none;
    overflow: hidden;
}

.hyper ul li {
   float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 40px; 
    text-decoration: none;
    font-size: 25px;
    display:flex;
    justify-content: flex-end;
    font-family: Palatino, URW Palladio L, serif;
    

}

.about-me {
    font-family: Palatino, URW Palladio L, serif;
    color: #343636;
    background-color:#2da490f0;
    width:fit-content;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    display: block;
    font-size: 20px;
    
}

.about-me-p {
    text-align: center;
    text-indent: 2%;
    font-size: 45px;
    font-family: "Playfair Display", serif;
    color: #c5e2ddf0;
}

.projects {
    font-family: Palatino, URW Palladio L, serif;
    color: #343636;
    background-color:#2da490f0;
    width:fit-content;
    font-size: 20px;
    
}

.large-box {
    border-style: solid;
    width: 1000px;
    height: 250px;
    border-width: 3px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-size: 23px;
}

.large-box img{
    width: 100%;
    height: 90%;
    
}

.large-box:hover {
    background-color: black;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.box1 {
    width: 350px;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-size: 23px;
}
.box1 img {
    width:100%;
    height:100%;
}

.box1:hover {
    background-color: black;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}


.box2 {
    width: 350px;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-size: 23px;
    
}
.box2 img {
    width:100%;
    height:100%;
}

.box2:hover {
    background-color: black;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
form {
    margin: 0 auto;
  width: 1000px;
  padding: 10px;
  border: 5px solid #DDAF94;
  border-radius: 20px;
}
.text-center{
    text-align: center;
}

.text-right:hover{
    background-color: gray;

}
    
   

.footer{
    text-align: center;
    font-size: 30px;
   
    

}
@media screen and (max-width:600px) {
    
}